root = true

[Makefile]
indent_style = tab

[*.{py,yml}]
charset = utf-8

[*.yml]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4
line_length = 100
multi_line_output = 3
